th h2 {

  color: red

}

th {
  color: black;
  background-color: rgb(251, 251, 144)
}

head {
  background-color: rgb(233, 233, 97)
}

table {
  border: 1px outset gray;
}

td {
  border: 1px inset gray;
  background-color: #46abea;
}
td p {
  display: inline;
}

textarea {
  height: 50px;
}

.btmbuttons {
  padding: 15px 30px;
  position: relative;
}

.btmrow {
  text-align: center;
}

.table {
  width: 150%;
  height: 150%;

}

body {
  display: flex;
  justify-content: center;
}

.age {
  width: 70px;

}